In [1]:
# Import packages
import pandas as pd
from creds import host, port, database, user, password
import psycopg2

In [2]:
conn = psycopg2.connect(host=host,
                        port=port,
                        database=database,
                        user=user,
                        password=password)

In [3]:
# SQL query to get flights data
flights_df = pd.read_sql_query(('''SELECT *     
            FROM group4_flights_data
            '''), conn)
flights_df.head(2)

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,origin,dest,air_time,distance,cancelled,diverted
0,2011-10-01,850.0,900,-10.0,1103.0,1207,-64.0,AA,N320AA,1,JFK,LAX,295.0,2475.0,0,0
1,2011-10-02,855.0,900,-5.0,1120.0,1207,-47.0,AA,N327AA,1,JFK,LAX,294.0,2475.0,0,0

In [7]:
type(flights_df)

pandas.core.frame.DataFrame

In [8]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389158 entries, 0 to 389157
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   flight_date     389158 non-null  datetime64[ns]
 1   dep_time        379506 non-null  float64
 2   sched_dep_time  389158 non-null  int64
 3   dep_delay       379506 non-null  float64
 4   arr_time        379210 non-null  float64
 5   sched_arr_time  389158 non-null  int64
 6   arr_delay       378602 non-null  float64
 7   airline         389158 non-null  object
 8   tail_number     386021 non-null  object
 9   flight_number   389158 non-null  int64
 10  origin          389158 non-null  object
 11  dest            389158 non-null  object
 12  air_time        378602 non-null  float64
 13  distance        389158 non-null  float64
 14  cancelled       389158 non-null  int64
 15  diverted        389158 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(5), object(4)
memory usage: 47.5+ MB

In [4]:
# SQL query to get weather data
weather_df = pd.read_sql_query(('''SELECT *     
            FROM group4_weather_data
            '''), conn)
weather_df.head(2)

        time  icao  tavg  tmin  tmax  prcp  snow  wdir  wspd    pres   tsun
0 2011-10-01  KMIA  28.1  23.9  32.2   0.0   NaN   NaN   8.3  1010.3  702.0
1 2011-10-02  KMIA  26.9  23.9  30.6   0.0   NaN  49.3  13.0  1013.8  689.0

In [17]:
# SQL query to get flights data and airports data
flights_df = pd.read_sql_query(('''SELECT *
            FROM flights_api_proj_gr4 f
                LEFT JOIN airports a
                    ON a.faa = f.origin OR a.faa = f.dest
                WHERE ( 'BOS', 'EWR', 'JFK', 'MIA', 'PHL', 'SJU' )
            '''), conn)


# foreign_key!!!

DatabaseError: Execution failed on sql 'SELECT *
            FROM flights_api_proj_gr4 f
                LEFT JOIN airports a
                    ON a.faa = f.origin OR f.dest
            ': argument of OR must be type boolean, not type text
LINE 4:                     ON a.faa = f.origin OR f.dest
                                                   ^